
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header "
    "nav "
    "main"
    "button"
    "footer"
    ;
   font-family: 'Raleway', sans-serif;
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


 button {
        display: block;
        margin: 20px auto;
        border: 1px solid #cab3b37c;
        background: #ebafd0b4;
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        line-height: 22px;
        padding: 16px 24px;
        border-radius: 30px;
        transition: all 200ms ease;
        box-shadow: rgba(255, 255, 255, 0.08) 0px 8px 8px 0;
        cursor: pointer;
      }

    
.hamburger {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.hamburger::before,
.hamburger::after,
.hamburger {
  content: '';
  background: #333;
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

.hamburger::before {
  margin-top: 0.3em;
}

.hamburger::after {
  margin-bottom: 0.3em;
}


nav {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 5rem;
  transition: left 0.3s ease;
  z-index: 1000;
  flex-direction: column;
}

#nav-toggle:checked ~ nav {
  left: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding: 1rem;
  text-align: center;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}
  
      
button:hover{
background-color: #f09fc562;
color: black;
border: 1px solid #000000
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;

}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.logo{
    font-size: 2.5rem;
    text-align: right;
    color: blueviolet;
    font-weight: bold;
    transform: rotate(8deg);
    margin-top: 2rem;
}

.logo-follow{
    font-size: 1.2rem;
    color: darkred;
    margin-bottom: 2rem;
}


footer {
  flex-shrink: 0;
  background: #f8f8f8;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

header{
    text-align: center;
}







